<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detail Page</title>
    <link rel="icon" type="image/x-icon" href="../public/favicon/favicon.ico" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/public/img/logo.png" alt="logo" width="50px" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li>
              <a class="nav-link active" aria-current="page" href="/project">My Project</a>
            </li>
          </ul>
          <a href="/contact">
            <button class="btn btn-dark text-white" type="submit">Contact Me</button>
          </a>
        </div>
      </div>
    </nav>

    <!--Content-->
    <div class="container">
      <h2 class="d-flex fw-bold justify-content-center text-success mt-3">DUBWAYS WEB APP</h2>

      <h2>{{.Project.ProjectName}}</h2>
      <div class="d-flex justify-content-around">
        <div class="d-flex p-5">
          <img src="/public/img/astronaut.jpg" class="img rounded-5" alt="..." width="500px" />
        </div>
        <div class="p-4 me-4 mt-4">
          <div>
            <p class="fw-bold fs-4">Duration</p>
            <i class="fa-solid fa-2x fa-calendar-days"></i>
            <span>{{.Project.StartDateFormat}} - {{.Project.EndDateFormat}}</span>
          </div>
          <br />
          <div>
            <i class="fa-solid fa-2x fa-stopwatch"></i>
            <span>{{$.Project.Duration}} </span>
          </div>
          <div>
            <p class="fw-bold fs-4">Author</p>
            <i class="fa-solid fa-at"></i>
            <span> {{.Project.Author}} </span>
          </div>
          <br />
          <div class="techno">
            <h3>Technology</h3>
            <div class="techGrid">
              {{range $index, $item := .Project.Techno}} {{if eq $item "Node JS"}}
              <div class="node">
                <img src="../public/img/node.png" height="60px" />
                <p>Node JS</p>
              </div>
              {{else if eq $item "Vue JS"}}
              <div class="vue">
                <img src="../public/img/vue.png" height="60px" />
                <p>Vue JS</p>
              </div>
              {{else if eq $item "React JS"}}
              <div class="react">
                <img src="../public/img/react.png" height="60px" />
                <p>React JS</p>
              </div>
              {{else if eq $item "TypeScript"}}
              <div class="typeScript">
                <img src="../public/img/typescript.png" height="60px" />
                <p>TypeScript</p>
              </div>
              {{end}} {{end}}
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="card-text mb-3">{{ .Project.Description}}</p>
      </div>
    </div>
  </body>
</html>
